absl_py==2.3.1+computecanada
accelerate==1.6.0+computecanada
aiohappyeyeballs==2.6.1+computecanada
aiohttp==3.12.4+computecanada
aiosignal==1.3.2+computecanada
annotated_types==0.7.0+computecanada
antlr4_python3_runtime==4.9.3+computecanada
anyio==4.9.0+computecanada
appdirs==1.4.4+computecanada
asttokens==3.0.0+computecanada
attrs==25.3.0+computecanada
backoff==2.2.1+computecanada
blobfile==3.1.0+computecanada
certifi==2025.6.15+computecanada
chardet==5.2.0+computecanada
charset_normalizer==3.4.2+computecanada
click==8.2.1+computecanada
colorama==0.4.6+computecanada
comm==0.2.2+computecanada
contourpy==1.3.1+computecanada
cut_cross_entropy==25.1.1+computecanada
cycler==0.12.1+computecanada
DataProperty==1.1.0
datasets==3.6.0+computecanada
datatrove==0.7.0
debugpy==1.8.12+computecanada
decorator==5.1.1+computecanada
deepspeed==0.16.4+computecanada
diffusers==0.36.0
dill==0.3.8+computecanada
diskcache==5.6.3+computecanada
distlib @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/distlib/distlib-0.3.7
distro==1.9.0+computecanada
docker-pycreds==0.4.0+computecanada
docstring_parser==0.17.0+computecanada
editables @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/editables/editables-0.5
einops==0.8.1+computecanada
emoji==2.14.1
evaluate==0.4.5
executing==2.2.0+computecanada
filelock==3.18.0+computecanada
flit_core @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/flit_core/flit_core-3.9.0
fonttools==4.55.8+computecanada
frozenlist==1.7.0+computecanada
fsspec==2025.3.0+computecanada
gitdb==4.0.12+computecanada
GitPython==3.1.44+computecanada
gql==3.5.3
graphql-core==3.2.6
h11==0.16.0+computecanada
hatch-vcs @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/hatch_vcs/hatch_vcs-0.3.0
hatchling @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/hatchling/hatchling-1.18.0
hf_transfer==0.1.9+computecanada
hf_xet==1.1.3+computecanada
hjson==3.1.0+computecanada
httpcore==1.0.9+computecanada
httpx==0.28.1+computecanada
huggingface_hub==0.36.0+computecanada
humanize==4.15.0
idna==3.10+computecanada
ijson==3.2.3+computecanada
importlib_metadata==8.7.0+computecanada
ipykernel==6.29.5+computecanada
ipython==8.32.0+computecanada
ipywidgets==8.1.5+computecanada
jedi==0.19.2+computecanada
jinja2==3.1.6+computecanada
jiter==0.6.1+computecanada
joblib==1.5.2+computecanada
jsonlines==4.0.0+computecanada
jsonschema==4.24.0+computecanada
jsonschema_specifications==2025.4.1+computecanada
jupyter_client==8.6.3+computecanada
jupyter_core==5.7.2+computecanada
jupyterlab_widgets==3.0.13+computecanada
kiwisolver==1.4.8+computecanada
-e git+https://github.com/kernelmachine/balanced-kmeans.git@23cee3aee2c8efc1d74e0285bfc3cc6d23ef3021#egg=kmeans_pytorch
-e git+https://github.com/r-three/lm-evaluation-harness.git@1c5fbbb18e36e622466ce476df0f9bb54e2d729e#egg=lm_eval
loguru==0.7.3+computecanada
lxml==5.3.1+computecanada
markdown_it_py==3.0.0+computecanada
MarkupSafe==2.1.5+computecanada
matplotlib==3.10.0+computecanada
matplotlib_inline==0.1.7+computecanada
mbstrdecoder==1.1.4
mdurl==0.1.2+computecanada
mistral_common==1.8.4+computecanada
more-itertools==10.8.0
mpmath==1.3.0+computecanada
msgpack==1.1.0+computecanada
msgspec==0.19.0+computecanada
multidict==6.5.1+computecanada
multiprocess==0.70.16+computecanada
nest_asyncio==1.6.0+computecanada
networkx==3.5+computecanada
ninja==1.11.1+computecanada
nltk==3.9.1+computecanada
nose==1.3.7+computecanada
numexpr==2.10.2+computecanada
numpy==2.3.3+computecanada
nvidia_ml_py==13.590.44+computecanada
objprint==0.3.0
omegaconf==2.3.0+computecanada
openai==2.2.0
orjson==3.11.1+computecanada
packaging==25.0+computecanada
pandas==2.3.3+computecanada
parso==0.8.4+computecanada
pathspec @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/pathspec/pathspec-0.11.2
pathvalidate==3.3.1
peft==0.17.1+computecanada
pexpect==4.9.0+computecanada
pillow==11.1.0+computecanada
Pillow_SIMD==9.5.0.post2+computecanada
platformdirs @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/platformdirs/platformdirs-3.10.0
pluggy @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/pluggy/pluggy-1.3.0
portalocker==3.2.0+computecanada
prompt_toolkit==3.0.50+computecanada
propcache==0.3.2+computecanada
protobuf==4.25.8+computecanada
psutil==6.1.1+computecanada
ptyprocess==0.7.0+computecanada
pure_eval==0.2.3+computecanada
py_cpuinfo==9.0.0+computecanada
pyarrow @ file:///tmp/ebuser/avx2/Arrow/19.0.1/GCCcore-12.3-gentoo/arrow/python
pybind11==3.0.1
pycountry==24.6.1+computecanada
pycryptodomex==3.19.0+computecanada
pydantic==2.11.7+computecanada
pydantic_core==2.33.2+computecanada
pydantic_extra_types==2.10.5+computecanada
pygments==2.19.1+computecanada
pynvml==13.0.1
pyparsing==3.2.1+computecanada
pytablewriter==1.2.1
python_dateutil==2.9.0.post0+computecanada
pytz==2025.2+computecanada
PyYAML==6.0.2+computecanada
pyzmq==26.2.1+computecanada
rank-bm25==0.2.2
referencing==0.36.2+computecanada
regex==2024.11.6+computecanada
requests==2.32.4+computecanada
requests_toolbelt==1.0.0+computecanada
rich==14.0.0+computecanada
rouge_score==0.1.2+computecanada
rpds_py==0.21.0+computecanada
sacrebleu==2.5.1+computecanada
safetensors==0.5.3+computecanada
scikit_learn==1.7.1+computecanada
scipy==1.15.1+computecanada
seaborn==0.13.2+computecanada
sentencepiece==0.2.0+computecanada
sentry-sdk==2.31.0
setproctitle==1.3.4+computecanada
setuptools-scm @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/setuptools_scm/setuptools_scm-7.1.0
six==1.17.0+computecanada
smmap==5.0.2+computecanada
sniffio==1.3.1+computecanada
sqlitedict==2.0.0+computecanada
stack_data==0.6.3+computecanada
sympy==1.14.0+computecanada
tabledata==1.3.4
tabulate==0.9.0+computecanada
tcolorpy==0.1.7
tenacity==9.1.2+computecanada
threadpoolctl==3.6.0+computecanada
tiktoken==0.9.0+computecanada
tokenizers==0.22.1+computecanada
tokenmonster==1.1.12
tomli @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/tomli/tomli-2.0.1
torch==2.7.0+computecanada
torchao==0.14.1+computecanada
tornado==6.4.2+computecanada
tqdm==4.67.1+computecanada
tqdm_multiprocess==0.0.11+computecanada
traitlets==5.14.3+computecanada
transformers==4.57.3
triton==3.5.0+computecanada
trl==0.24.0
trove-classifiers @ file:///cvmfs/soft.computecanada.ca/easybuild/sources/p/Python/extensions/trove_classifiers-2023.8.7-py3-none-any.whl#sha256=a676626a31286130d56de2ea1232484df97c567eb429d56cfcb0637e681ecf09
typeguard==4.4.4+computecanada
typepy==1.3.4
typing_extensions==4.14.0+computecanada
typing_inspection==0.4.1+computecanada
tyro==1.0.0
tzdata==2025.2+computecanada
unsloth==2025.12.4
unsloth_zoo==2025.12.3
urllib3==2.5.0+computecanada
virtualenv @ file:///tmp/ebuser/avx2/Python/3.11.5/GCCcore-12.3.0/virtualenv/virtualenv-20.24.3
viztracer==1.1.1
wandb==0.18.0+computecanada
wandb-core==0.17.0b11
wcwidth==0.2.13+computecanada
weave==0.51.54
Whoosh==2.7.4+computecanada
widgetsnbextension==4.0.13+computecanada
word2number==1.1
xformers==0.0.30+computecanada
xxhash==3.5.0+computecanada
yarl==1.20.1+computecanada
zipp==3.23.0+computecanada
zstandard==0.23.0+computecanada
